NODE_ENV=development

# Server
HOST=127.0.0.1
PORT=3000

# Database
MONGODB_URI=mongodb+srv://awesome3inc_db_user:S9uKbjXGR5jUXUHx@medore.oqkkqd8.mongodb.net/?appName=Medore

# Authentication
JWT_ACCESS_SECRET=5882a96ad28558dfddc903828a987e983b67b7689027629bed23297d22d59fa0

# Frontend origins
WEB_ORIGINS=http://127.0.0.1:5173,http://127.0.0.1:8081
